
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/_Shareds/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Basic Table</h3>
            <p class="text-muted">Add class <code>.table</code></p>
            <div class="table-responsive">
                <a href="/Admin/Bloglar/Insert" class="btn btn-primary">Yeni Ekle</a>
                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">Blog Adı</th>
                            <th class="border-top-0">Yayın Tarihi</th>
                            <th class="border-top-0">İşlemleri</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Data)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.BlogName</td>
                                <td>@item.ReleaseDate</td>
                                <td>
                                    <a href="#" class="btn btn-info">Yorumlar</a>
                                    <a href="#" class="btn btn-info">Okunmalar</a>
                                    <a href="#" class="btn btn-primary">Düzenle</a>
                                    <a href="#" class="btn btn-danger">Sil</a>

                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

